In [ ]:
print("I love Python")

In [ ]:
2 + 2

In [ ]:
age = 27

height = 1.87

name = "Yusuf Nasir Ahmad"

In [ ]:
num1 = 2

num2 = 7

num3 = 4


mean = (num1 + num2 + num3) / 3

"The average of {}, {}, {}, is: {}".format(num1, num2, num3, mean)

In [ ]:
import sys
print(sys.version)

name = "Yusuf"

dir(name)

help(print)

In [ ]:
help(sys)

# Write a Python Code That Takes inputs of Two Numbers and Return The Product

In [ ]:
price = int(input(" Enter Price of comodity: "))
quantity = int(input("Enter Quantity of commodity: "))

product = price * quantity

print(f" the product of {price} and {quantity} is {product}.")

In [ ]:
x = 3 + 3 * 2
print(x)

In [ ]:
y = (3 + 2) * 2
print (y)

# Using Slice, slecet the 3rd to 7th element

# Selecet every 4th element

# Find the sum of all the elements

In [ ]:
ages = [23, 45, 67, 12, 34, 12, 34, 12, 76, 50, 23]
#        0  1   2   3   4   5   6   7   8   9  10

ages[2]

In [ ]:
ages[2:8]

In [ ]:
ages[5]

In [ ]:
sum(ages)

In [ ]:
sum_of_ages = 0
for age in ages:
    sum_of_ages = sum_of_ages + age
print(sum_of_ages)

In [ ]:
new_ages = []
for age in ages:
    if age < 20:
        new_ages.append(age)
new_ages

In [ ]:
name2 = "Yusuf Nasir Ahmadu"

name2.find('z')

In [ ]:
"I,love,my,mum".split(",")

In [ ]:
"Python"[::-1]

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt

In [ ]:
for character in "Nasco":
    print(character)

In [ ]:
sum_of_ages = 0
for age in ages:
    sum_of_ages = sum_of_ages + age
print(sum_of_ages)

In [ ]:
your_name = str(input(" What is your full name: ?"))
your_name[::-1]

In [ ]:
# Initialize the first two terms of the Fibonacci series
a = 0
b = 1

# Create a list to store the Fibonacci series
fibonacci_series = []

# Iterate until the current term is less than or equal to 50
while b <= 50:
    # Add the current term to the list
    fibonacci_series.append(b)

    # Calculate the next term in the Fibonacci series
    c = a + b

    # Update the first two terms
    a = b
    b = c

# Print the Fibonacci series
print(fibonacci_series)

In [ ]:
def is_palindrome(string):
    reversed_string = string[::-1]
    return string == reversed_string

# Test the function
word = "madam"
if is_palindrome(word):
    print(f"{word} is a palindrome")
else:
    print(f"{word} is not a palindrome")

# Write a Python Program that "Print the first 10 natural numbers using for loop."

In [ ]:
# Using a for loop to iterate through numbers 1 to 10
for i in range(1, 11):
    print(i)

In [ ]:
for i in range (1, 50):
    print(i)

# Python program to print all the even numbers within a given range

In [ ]:
# Taking input for the range from the user
start = int(input("Enter the start of the range: "))
end = int(input("Enter the end of the range: "))

# Using a for loop to iterate through the range
print(f"Even numbers between {start} and {end} are:")
for num in range(start, end + 1):
    if num % 2 == 0:
        print(num)

# Printing For Odd Numbers Withing A Given Range

In [ ]:
start = int(input("Enter any rational number here: "))
end = int(input("Enter any rational number here as well: "))

print(f"Even numbers between {start} and {end} are: ") 
for num in range (start, end + 1):
    if num % 2 != 0:
        print(num)

# Python program to calculate the sum of all numbers from 1 to a given number

In [ ]:
# Taking input for the upper limit from the user
n = int(input("Enter a number: "))

# Initializing a variable to store the sum
sum_of_numbers = 0

# Using a for loop to iterate through numbers 1 to n
for i in range(1, n + 1):
    sum_of_numbers += i

# Printing the sum
print(f"The sum of all numbers from 1 to {n} is: {sum_of_numbers}")

In [ ]:
n = int(input("Enter any number of your choice: "))

sum_of_numbers = 0

for i in range (1, n + 1):
    sum_of_numbers += i
print(f"The sum of all numbers from 1 to {n} is: {sum_of_numbers}")

# Python program to calculate the sum of all the odd numbers within the given range.

In [ ]:
value = int(input("Enter any number here: "))

sum_of_odd_numbers = 0

for num in range (1, value + 1):
    if num % 2 != 0:
        sum_of_odd_numbers += num
print(f"The sum of all odd numbers from 1 to {value} is: {sum_of_odd_numbers}")

# Python Program To Start a Product Table of a Given Number

In [ ]:
# Python program to print a multiplication table of a given number

# Taking input for the number from the user
number = int(input("Enter a number to generate its multiplication table: "))

# Using a for loop to iterate through the multiplication table
print(f"Multiplication table for {number} is:")
for i in range(1, 11):
    result = number * i
    print(f"{number} x {i} = {result}")

In [ ]:
multiplication = int(input("Enter any number: "))

print(f"The multiplication table for {multiplication} is: ")

for i in range(1, 11):
    results = multiplication * i
    print(f"{multiplication} x {1} = {results}")

# Python program to display numbers from a list using a for loop.

In [ ]:
# Python program to display numbers from a list using a for loop

# Sample list of numbers
prices = [100, 200, 2023, 400, 5000, 600, 7221, 800, 900, 10000]

# Using a for loop to iterate through the list
print("Prices from the list:")
for price in prices:
    print(price)

# Example 7: Python program to count the total number of digits in a number.

In [ ]:
number = int(input("Enter a number: "))
num_digits = len(str(abs(number)))
print(f"Total number of digits in {number}: {num_digits}")

# Example 8: Python program to check if the given string is a palindrome.

In [ ]:
def is_palindrome(s):
    s = s.lower()
    return s == s[::-1]

input_string = input("Enter a string: ")
if is_palindrome(input_string):
    print("It is a palindrome.")
else:
    print("It is not a palindrome.")

# Example 9: Python program that accepts a word from the user and reverses it.

In [ ]:
word = input("Enter a word: ")
reversed_word = word[::-1]
print(f"Reversed word: {reversed_word}")

# Example 10: Python program to check if a given number is an Armstrong number.

In [ ]:
def is_armstrong_number(num):
    order = len(str(num))
    temp = num
    sum = 0
    while temp > 0:
        digit = temp % 10
        sum += digit ** order
        temp //= 10
    return num == sum

number = int(input("Enter a number: "))
if is_armstrong_number(number):
    print(f"{number} is an Armstrong number.")
else:
    print(f"{number} is not an Armstrong number.")

# Example 11: Python program to count the number of even and odd numbers from a series of numbers.

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_count = 0
odd_count = 0
for num in numbers:
    if num % 2 == 0:
        even_count += 1
    else:
        odd_count += 1

print(f"Number of even numbers: {even_count}")
print(f"Number of odd numbers: {odd_count}")

# Example 12: Python program to display all numbers within a range except the prime numbers.

In [ ]:
# Example 12
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

start = int(input("Enter the start of the range: "))
end = int(input("Enter the end of the range: "))

print(f"Numbers within the range ({start}, {end}) except prime numbers:")
for num in range(start, end + 1):
    if not is_prime(num):
        print(num)

# Example 13: Python program to get the Fibonacci series between 0 to 50.

In [ ]:
a, b = 0, 1
fibonacci_series = []
while a <= 50:
    fibonacci_series.append(a)
    a, b = b, a + b

print("Fibonacci series between 0 and 50:")
print(fibonacci_series)

# Example 14: Python program to find the factorial of a given number.

In [ ]:
# Example 14
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

number = int(input("Enter a number: "))
result = factorial(number)
print(f"The factorial of {number} is: {result}")

# Example 15: Python program that accepts a string and calculates the number of digits and letters.

In [ ]:
input_string = input("Enter a string: ")
num_digits = sum(c.isdigit() for c in input_string)
num_letters = sum(c.isalpha() for c in input_string)

print(f"Number of digits: {num_digits}")
print(f"Number of letters: {num_letters}")

# Example 16: Write a Python program that iterates the integers from 1 to 25.

In [ ]:
print("Integers from 1 to 10:")
for i in range(1, 11):
    print(i)

# Example 17: Python program to check the validity of password input by users.

In [ ]:
import re

def is_valid_password(password):
    # Password must be at least 8 characters long
    # It must contain at least one uppercase letter, one lowercase letter, and one digit
    return bool(re.match(r'^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$', password))

user_password = input("Enter a password: ")
if is_valid_password(user_password):
    print("Valid password.")
else:
    print("Invalid password.")

# Example 18: Python program to convert the month name to a number of days.

In [ ]:
def get_days_in_month(month_name):
    days_in_month = {
        'January': 31,
        'February': 28,  # Assuming not a leap year for simplicity
        'March': 31,
        'April': 30,
        'May': 31,
        'June': 30,
        'July': 31,
        'August': 31,
        'September': 30,
        'October': 31,
        'November': 30,
        'December': 31
    }
    return days_in_month.get(month_name, "Invalid month name")

user_month = input("Enter the month name: ")
result = get_days_in_month(user_month)
print(f"Number of days in {user_month}: {result}")

# Today's Class 14/11/2023

In [ ]:
for num in range(1,11):
    product_table = 1
    while product_table < 10:
        print("{} X {} = {}".format(num, product_table, num * product_table))
        product_table += 1
    print("--------------------")

# Write a For Loop That Prints Out All The Elements Between -5 and 5 using Range Function

In [ ]:
print("Integers from -5 to 5:")
for i in range(-5, 6):
    print(i)

In [ ]:
genres = ['rock', 'soul', 'pop']
n = len(genres)
for i in range(n):
    print(genres[i])

In [ ]:
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]

for rating in PlayListRatings:
    if rating < 6:
        break
    print(rating)

In [ ]:
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]

rating_index = -1
while rating_index < len(PlayListRatings) -1:
    
    rating_index = rating_index + 1
    if PlayListRatings[rating_index] < 6:
        break
    print(PlayListRatings[rating_index])

In [ ]:
tp = [1,2,3,4]
tp[2] = 8

In [ ]:
type(tp)

In [ ]:
tp

In [ ]:
names = ["Alaba", "Mustapha", "Habib", "Yusuf"]
ages = [12, 13, 54,24]

list(zip(names, ages))

In [ ]:

[
    [1,2,3,4,5,6],
    [45,66,77,88],
    [12,32,12,45]
]

In [ ]:
list_sclice =  [45,66,77,88]
list_sclice[1:4]

In [ ]:
tuple_sclice =  (45,66,77,88)
tuple_sclice[1:4]

In [ ]:
Patings = list_sclice =  (45,66,77,88,99)
sorted(Patings, reverse = True)

In [ ]:
Nascoo = list_sclice =  "Nasir"
sorted(Nascoo)

In [ ]:
len(Nascoo)

# Sets

In [ ]:
# Sample Setsalbum_
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [ ]:
intersection = {1,2} & {3,4,2,1,5,6,}
intersection

In [ ]:
set([1,2,3]).issubset(set(list(range(0,9))))

# 15/11/23 Class On Dictionary

In [ ]:
mydict ={'brand': 'Toyota', 'Year': 2000, 'Model': ['Corrola','Matrix', 'Avalon', 'Venza']}
print(mydict)

In [ ]:
mydict['Year'] # one way of accessing information from a dictionary using index

In [ ]:
mydict.get('Model') #second way of accessing information from a dictionary

In [ ]:
mydict.keys()   #To grab all the keys in a dictionary, run the preecind code

In [ ]:
mydict.values() #To grab all the values in a dictionary, run the preecind code

In [ ]:
mydict['color'] = 'Red' #Updating the dictionary

mydict['car_type'] = ['Salon', 'Ferrari', 'SUV', 'Buggati']

In [ ]:
mydict

In [ ]:
#Another Methode to UPdate a Dictionary

mydict.update({'Year': 2023})

In [ ]:
mydict

In [ ]:
#How to remove a value from the dictionary

mydict.pop('color')

In [ ]:
mydict

In [ ]:
mydict.popitem()

In [ ]:
del mydict['Year']

In [ ]:
mydict

In [ ]:
del mydict

In [ ]:
mydict

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("telco_churn.csv")

In [5]:
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110.0,45.07,197.4,99.0,16.78,244.7,91.0,11.01,10.0,3,2.70,1.0,False
1,OH,107,415,No,Yes,26,161.6,123.0,27.47,195.5,103.0,16.62,254.4,103.0,11.45,13.7,3,3.70,1.0,False
2,NJ,137,415,No,No,0,243.4,114.0,41.38,121.2,110.0,10.30,162.6,104.0,7.32,12.2,5,3.29,0.0,False
3,OH,84,408,Yes,No,0,299.4,71.0,50.90,61.9,88.0,5.26,196.9,89.0,8.86,6.6,7,1.78,2.0,False
4,OK,75,415,Yes,No,0,166.7,113.0,28.34,148.3,122.0,12.61,186.9,121.0,8.41,10.1,3,2.73,3.0,False